$parent-class: '.todo-item';

#{$parent-class} {
  position: relative;
  list-style: none;
  border-bottom: 1px solid $border-color-primary;

  &__toggle {
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);

    width: 40px;
    height: 40px;
    margin: 0;
    border: none;

    cursor: pointer;
    appearance: none;

    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
    // background-repeat: no-repeat;
    // background-position: center left;
    // outline: none;

    // &:focus {
    //   outline: none;
    // }
  }

  &__label {
    display: block;
    padding: 16px 16px 16px 60px;
    margin: 0;
    border: 0;

    color: $text-color-tertiary;
    font-size: 20px;
    font-weight: 100;
    word-break: break-all;
  }

  &__delete {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);

    color: $text-color-primary;
    padding: 5px;
    border: none;
    cursor: pointer;
    // outline: none;

    // &:focus,
    // &:hover {
    //   color: $text-color-terniary;
    // }
  }
}

@include breakpoint(large) {
  #{$parent-class} {
    &__label {
      font-size: 24px;
    }
  }
}

