.clear-completed {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: $text-color-tertiary;
  text-decoration: none;

  // display: inline-block;
  // padding: 4px 8px;
  // border: 1px solid transparent;
  // border-radius: 4px;

  // outline: none;
  
  &:focus,
  &:hover {
    text-decoration: underline;
  }
}